In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
total_players = len(purchase_data["SN"].unique())
count_unique_df = pd.DataFrame({"Total Players":[total_players]})
count_unique_df

   Total Players
0            576

In [4]:
#find the number of unique items
unique_items = len(purchase_data["Item ID"].unique())

#calculate the average item price
avg_price = purchase_data["Price"].mean()
                                                            
#calculate the number of purchases
count_purchase = len(purchase_data["Price"])

#calculate the sum of revenue
total_revenue = purchase_data["Price"].sum()

#create the data frame
purchase_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price], 
                            "Number of Purchases":[count_purchase], "Total Revenue":[total_revenue]})

#format the data in the data frame
purchase_df["Average Price"] = purchase_df["Average Price"].astype(float).map("${:,.2f}".format)
purchase_df["Total Revenue"] = purchase_df["Total Revenue"].astype(float).map("${:,.2f}".format)

purchase_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
#remove duplicate players from the dataframe

gender_data_df = purchase_data.drop_duplicates(subset='SN', keep='first')

#count male players
male_players = len(gender_data_df.loc[(gender_data_df["Gender"] == "Male")])

#count of female players
female_players = len(gender_data_df.loc[(gender_data_df["Gender"] == "Female")])

#% of other players
other_players = len(gender_data_df.loc[(gender_data_df["Gender"] == "Other / Non-Disclosed")])

#calculate the % male, female, and other players based on the total players found earlier
pct_male = male_players / total_players * 100
pct_female = female_players / total_players * 100
pct_other = other_players / total_players * 100


#create data frame
gender_df = pd.DataFrame({
    "Total Count":[male_players, female_players, other_players],
    "Percentage of Players":[pct_male, pct_female, pct_other]},
    index=["Male", "Female", "Other/Non-Disclosed"])
gender_df ["Percentage of Players"] = gender_df ["Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [8]:
#purchasing analysis (Gender)
#dataframe for each gender
male_df = purchase_data.loc[purchase_data['Gender'] == 'Male']
female_df = purchase_data.loc[purchase_data['Gender'] == 'Female']
other_df = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed']

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Inguron55', 'Haisrisuir60', 'Saelaephos52', 'Assjaskan73',
       'Saesrideu94', 'Lisirra25', 'Zontibe81', 'Chamalo71',
       'Iathenudil29', 'Phiarithdeu40', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Sondilsaya62',
       'Aerithriaphos45', 'Aidaillodeu39', 'Aelly27', 'Tyeosri53',
       'Haerith37', 'Yasrisu92', 'Chanuchi25', 'Asur96', 'Iaralrgue74',
       'Chanosia34', 'Aelin32', 'Ilosianya35', 'Zhisrisu83', 'Raesty92',
       'Palyon91', 'Tyisur83', 'Yaliru88', 'Yadanu52', 'Jiskimya77',
       'Yadaphos40', 'Alo38', 'Phaena87', 'Chamirraya83', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Assistasda42', 'Lisosia93',
       'Philodil43', 'Lirtosia63', 'Assjaskan56', 'Irithlis29', 'Aina42',
       'Qarirwen82', 'Laedallo55', 'Eoralrap26', 'Undosian34',
       'Chadolyla44', 'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98',
       'Aiduecal76', 'Chadossa89', 'Pheodaisun84', 'Heollyriap59',
       'Maropast28', 'Frichim77', 'Thryallym62', 'Eulanurin88',
       'Lassjaskan73', 'Tyaerith73', 'Sondadarya58', 'Hirirap39',
       'Ririp86', 'Undirrala66', 'Nitherian58', 'Lassilsala30',
       'Ilosia37', 'Lisista27', 'Seudaillorap38', 'Aesty53',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89', 'Iskadarya95',
       'Qilatista90', 'Inasti31', 'Marilsanya48', 'Marjask87',
       'Chanjaskan89', 'Hyaduesu61', 'Sundadar27', 'Tyaelorap29',
       'Lirtimst73', 'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52',
       'Aeral97', 'Lisopela58', 'Caesrinusuir82', 'Tyirinu79',
       'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73', 'Mindista32',
       'Saena74', 'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51',
       'Thrientossa55', 'Chadista79', 'Tyeurith29', 'Malunil62',
       'Hiasri33', 'Lisadar44', 'Frichjask31', 'Lisjaskya84',
       'Ristydru66', 'Frichast28', 'Minduri31', 'Mindetosya30',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Sondastsda82', 'Qilanrion65', 'Eulasuir89',
       'Eosrirgue62', 'Shaidanu32', 'Lirtastan49', 'Iaralsuir44',
       'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39', 'Aidai53',
       'Jiskjask85', 'Ealrion88', 'Alim85', 'Haeladil46', 'Undosia27',
       'Peorith44', 'Yarithsurgue62', 'Rairin89', 'Aerithriaphos46',
       'Lisista54', 'Eodailis27', 'Lirtastsda29', 'Undilsan50',
       'Quaranmol58', 'Lirtossa60', 'Lirtilsa71', 'Isursuir31',
       'Sundirrala66', 'Saerallora71', 'Iasur80', 'Tyaelo67', 'Yasur35',
       'Assehoan67', 'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43',
       'Lirtirra37', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Smaistysu35', 'Ennalmol65', 'Yarithrgue83',
       'Sondimla25', 'Aidai61', 'Firan91', 'Alaesu91', 'Aellynun67',
       'Rilaera56', 'Eulaestira36', 'Idastidru52', 'Ilirrasda54',
       'Alaephos75', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Chamastya76', 'Undirra73',
       'Aestysu37', 'Chadadarla74', 'Strithenu87', 'Iasrira89',
       'Ialidru40', 'Tyalaesu89', 'Lirtilsa72', 'Undjaskla97',
       'Saedaiphos46', 'Aerithnucal56', 'Lisossa46', 'Lisista63',
       'Ceoral34', 'Hilaerin92', 'Chadilsasta32', 'Undassa89',
       'Lisosia66', 'Undimsya85', 'Yadacal26', 'Lisossa25',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Ilarin91', 'Ryanara76', 'Undista85', 'Tyeoralru41',
       'Pheosrinudeu70', 'Pheutherin27', 'Chadirra90', 'Ali84',
       'Frichjaskan98', 'Malil90', 'Yarithllodeu72', 'Tyaedainu44',
       'Ethron58', 'Eusurdeu49', 'Saistyphos30', 'Saisrilis27',
       'Hallysucal81', 'Ilimya66', 'Raysistast71', 'Haedairiadru51',
       'Tyananurgue44', 'Risty84', 'Aerillorin70', 'Phistyn52', 'Yalo85',
       'Hiral75', 'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53',
       'Asur53', 'Alarap40', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33',
       'Frichadar89', 'Aesurstilis64', 'Idaidil28', 'Lisico81',
       'Lisiriya82', 'Siana77', 'Marokian45', 'Sausosia74', 'Assesi91',
       'Aisurria69', 'Iarilis73', 'Raisty38', 'Ilista82', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Qilunan34', 'Quarrion42', 'Hiaral50', 'Iarallo65', 'Ethralista69',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Eurithphos97', 'Raillydeu47', 'Malon70',
       'Jiskimsda56', 'Marughi89', 'Ingatcil75', 'Chanirrasta87',
       'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67', 'Iadueria43',
       'Pheulidil31', 'Eodairu79', 'Frichocesta66', 'Thourdirra92',
       'Chanastnya43', 'Iskim96', 'Eulolis41', 'Sastydeu50',
       'Ilaesudil92', 'Yasur85', 'Aerithnuphos61', 'Yalostiphos68',
       'Meosridil82', 'Aillyriadru65', 'Lisim51', 'Silaera56',
       'Leetirraya83', 'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80',
       'Chanadar44', 'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44',
       'Jiskadarst60', 'Sondadar26', 'Malarrian73', 'Ilunyon70',
       'Yadam35', 'Dyally87', 'Frichaya88', 'Marynde90', 'Isri34',
       'Assastnya25', 'Ardonmol96', 'Lassirrasda85', 'Chadossa56',
       'Poshilsa82', 'Sundista37', 'Ilassa51', 'Filurarn35',
       'Phaestycal84', 'Irilis75', 'Aeralstical35', 'Chanirrala39',
       'Assirra56', 'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98',
       'Filrion59', 'Halaecal66', 'Iskosian40', 'Ilastilis78',
       'Seosrim97', 'Farrian71', 'Frichossala54', 'Chamjaskya75',
       'Tyaelaelis94', 'Quanenrian83', 'Chanirra64', 'Yadaisuir65',
       'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81', 'Filrion83',
       'Eoral49', 'Eurisuru25', 'Liawista80', 'Chamadarsda63',
       'Haestyphos66', 'Phaedasurap84', 'Mindimnya67', 'Chadjask85',
       'Eustyria89', 'Iskim66', 'Lirtassan78', 'Ethrasyon38',
       'Lisassasda39', 'Mindilsa60', 'Lalossa38', 'Chamistast30',
       'Hariphos58', 'Chanilsasda38', 'Mindesi74', 'Ililsan66',
       'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82', 'Yalaeria91',
       'Chadjask77', 'Ealiril69', 'Quaecjask96', 'Firatan58',
       'Yarolwen77', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Chamiman85', 'Tyialisti80', 'Marundi65',
       'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Yathecal72', 'Sisur91'],
      dtype=object)

In [ ]:
#purchasing analysis (Gender) cont'd

#dataframe for Other/Nondisclosed
genderAnalysis_df = pd.DataFrame({
    "Gender":["Female", "Male", "Other/Non-Disclosed"],
    "Purchase Count":[female_df["Purchase ID"].count(), male_df["Purchase ID"].count(), other_df["Purchase ID"].count()],
    "Average Purchase Price":[female_df["Price"].mean(), male_df["Price"].mean(), other_df["Price"].mean()],
    "Total Purchase Price":[female_df["Price"].sum(), male_df["Price"].sum(), other_df["Price"].sum()]})
    #"Avg Total Purchase per Person":[male_df[""]]})

#format the data    
genderAnalysis_df["Average Purchase Price"] = genderAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
genderAnalysis_df["Total Purchase Price"] = genderAnalysis_df["Total Purchase Price"].astype(float).map("${:,.2f}".format)

#print out the data frame using Gender as the index    
genderAnalysis_df.set_index("Gender")

In [ ]:
#Age Demographics

In [ ]:
#Purchasing Analysis (Age)

In [ ]:
#Top Spenders

In [ ]:
#Most Popular Items

In [ ]:
#Most Profitable Items